footer {
  line-height: 34px;
  height: 10vh;
  display: block;
  text-align: right;
  padding: 3rem;
  position: fixed;
  bottom: 2px;
  right: 0px;
  width: 100%;
}
footer > label:first-child {
  display: inline-block;
  position: relative;
  top: -0.6rem;
  color: red;
  font-weight: bold;
}
