  $mainGreen: #2ecc71;
  $deepBlue: #130f40;
  $mainWhite: #f3f3f3;
  $mainDark: #2C3A47;
  $mainYellow: #ffa400;
  $lightBlue: #7ed6df;
  $mainRed: #e84118;
  $mainCard: #f6e58d;
  $mainShadow: rgba(0, 0, 0, 0.75);