.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.2rem;

  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: "";
    height: 1.1rem;
    width: 1.1rem;
    left: 0.1rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input {
  &:checked+.slider {
    background-color: #2196f3;
  }

  &:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
  }

  &:checked+.slider:before {
    -webkit-transform: translateX(1.6rem);
    -ms-transform: translateX(1.6rem);
    transform: translateX(1.6rem);
    -moz-transform: translateX(1.6rem);
    -o-transform: translateX(1.6rem);
  }
}

.slider.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}