@import './scenes/common/variables.scss';

body,
html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

App {
  text-align: center;
  margin: 0;
  padding: 0;
}




.day {
  color: $mainBlack;
  background-color: $mainWhite;
}

.night {
  color: $mainWhite;
  background-color: $mainBlack;
}






// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .container-fluid &.day,
  &.night {
    height: 100% !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
  }

  &.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
    height: 100%;

  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .container-fluid &.day,
  &.night {
    height: 100vh !important;
    width: 100vw !important;
  }

  &.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
    height: 100vh;

  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .container-fluid &.day,
  &.night {
    height: 100vh !important;
    width: 100vw !important;
  }

  &.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
    height: 100vh;

  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .container-fluid &.day,
  &.night {
    height: 100vh !important;
    width: 100vw !important;
  }

  &.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
    height: 100vh;

  }
}




















// .container-fluid {

//   &.day,
//   &.night {
//     height: 100vh;
//     width: 100vw;
//   }
// }


span {
  color: black;
}