@import ".././../variables";

.navbar {
  background-color: $mainDark;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
  align-items: center;
}

.container-fluid {
  &.nav-bar {
    padding-right: 0px;
    padding-left: 0px;
    height: 10vh;
  }
}

.nav-item a,
h5 {
  color: $mainWhite !important;
  font-size: large;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.style-text {
  color: $mainWhite;
}